<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pokemon.ename %>
    </title>
    <link rel="icon" type="icon" href="/image/avatar.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dropDown.css">
    <link rel="stylesheet" href="/css/pokemon copy.css">

</head>

<body>
    <div class="navbar">
        <%- include('../partials/navbar.ejs') %>
    </div>
    <div class="body">
        <div class="card text-center">
            <div class="card-header">
                <%= pokemon.ename %>
            </div>
            <div class="card-body">
                <h5 class="card-title"><img src="<%= pokemon.image %>" alt=""></h5>
                <p class="card-text">Name: <%= pokemon.ename %>
                </p>
                <p class="card-text">Japanese Name: <%= pokemon.jname %>
                </p>
                <p class="card-text">Chinese Name: <%= pokemon.cname %>
                </p>
                <% for( let types of pokemon.type) { %>
                    <p class="card-text">Type: <%= types.ename %>
                    </p>
                    <% } %>
                        <p class="card-text">ID: <%= pokemon.id %>
                        </p>
            </div>
            <div class="card-footer text-body-secondary">
                Base Attack : <span>
                    <%= pokemon.base.Attack %>
                </span>
                Base Defence : <span>
                    <%= pokemon.base.Defence %>
                </span>
                Base HP : <span>
                    <%= pokemon.base.HP %>
                </span>
                Base SpAtk : <span>
                    <%= pokemon.base.SpAtk %>
                </span>
                Base SpDef : <span>
                    <%= pokemon.base.SpDef %>
                </span>
                Base Speed : <span>
                    <%= pokemon.base.Speed %>
                </span>
            </div>
            <h4 class="card-body">Skills</h4>
            <div class="skills">
                <div class="levelup">
                    <h4>Moves Learned By LEVEL UP</h4>
                    <br>
                    <table>
                        <tr>
                            <th>Skill Name</th>
                            <th>Power</th>
                            <th>Pp</th>
                            <th>Accuracy</th>
                        </tr>
                        <% for( let levelup of pokemon.skills.level_up) { %>
                            <tr>
                                <td>
                                    <%= levelup.ename %>
                                </td>
                                <td>
                                    <% if (levelup.power===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= levelup.power %>
                                            </p>
                                            <% } %>
                                </td>
                                <td>
                                    <% if (levelup.pp===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= levelup.pp %>
                                            </p>
                                            <% } %>
                                </td>
                                <td>
                                    <% if (levelup.accuracy===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= levelup.accuracy %>
                                            </p>
                                            <% } %>
                                
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
                <br><br>
                <div>
                    <h4>Moves Learned By Egg</h4>
                    <br>
                    <table>
                        <tr>
                            <th>Skill Name</th>
                            <th>Power</th>
                            <th>Pp</th>
                            <th>Accuracy</th>
                        </tr>
                        <% for( let egg of pokemon.skills.egg) { %>
                            <tr>
                                <td>
                                    <%= egg.ename %>
                                </td>
                                <td>
                                    <% if (egg.power===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= egg.power %>
                                            </p>
                                            <% } %>
                                </td>
                                <td>
                                    <% if (egg.pp===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= egg.pp %>
                                            </p>
                                            <% } %>
                                   
                                </td>
                                <td>
                                    <% if (egg.accuracy === null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= egg.accuracy %>
                                            </p>
                                            <% } %>
                                
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
                <br><br>
                <div>
                    <h4>Moves Learner By TM</h4>
                    <br>
                    <table>
                        <tr>
                            <th>Skill Name</th>
                            <th>Power</th>
                            <th>Pp</th>
                            <th>Accuracy</th>
                        </tr>
                        <% for( let tm of pokemon.skills.tm) { %>
                            <tr>
                                <td>
                                    <%= tm.ename %>
                                </td>
                                <td>
                                    <% if (tm.power===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= tm.power %>
                                            </p>
                                            <% } %>
                                </td>
                                <td>
                                    <% if (tm.pp===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= tm.pp %>
                                            </p>
                                            <% } %>
                                
                                </td>
                                <td>
                                    <% if (tm.accuracy ===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= tm.accuracy %>
                                            </p>
                                            <% } %>
                                   
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
                <br><br>
                <div>
                    <h4>Moves Learner By Transfer</h4>
                    <br>
                    <table>
                        <tr>
                            <th>Skill Name</th>
                            <th>Power</th>
                            <th>Pp</th>
                            <th>Accuracy</th>
                        </tr>
                        <% for( let transfer of pokemon.skills.transfer) { %>
                            <tr>
                                <td>
                                    <%= transfer.ename %>
                                </td>
                                <td>
                                    <% if (transfer.power===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= transfer.power %>
                                            </p>
                                            <% } %>
                                </td>
                                <td>
                                    <% if (transfer.pp===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= transfer.pp %>
                                            </p>
                                            <% } %>
                                    
                                </td>
                                <td>
                                    <% if (transfer.accuracy===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= transfer.accuracy %>
                                            </p>
                                            <% } %>
                                    
                                </td>

                            </tr>
                            <% } %>
                    </table>
                </div>
                <br><br>
                <div>
                    <h4>Moves Learner By Tutor</h4>
                    <br>
                    <table>
                        <tr>
                            <th>Skill Name</th>
                            <th>Power</th>
                            <th>Pp</th>
                            <th>Accuracy</th>
                        </tr>
                        <% for( let tutor of pokemon.skills.tutor) { %>
                            <tr>
                                <td>
                                    <%= tutor.ename %>
                                </td>
                                <td>
                                    <% if (tutor.power===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= tutor.power %>
                                            </p>
                                            <% } %>
                                </td>
                                <td>
                                    <% if (tutor.pp===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= tutor.pp %>
                                            </p>
                                            <% } %>
                                
                                </td>
                                <td>
                                    <% if (tutor.accuracy===null) { %>
                                        <p>0</p>
                                        <% } else { %>
                                            <p>
                                                <%= tutor.accuracy %>
                                            </p>
                                            <% } %>
                                
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
            </div>
            <br><br><br><br>

        </div>
        <br><br><br><br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>