<div class="cards d-flex flex-wrap gap-3 justify-content-center">

    <% for( let pokemon of pokemons) { %>

        <div class="card" id="link-1" style="width: 18rem;">
            <img src="<%= pokemon.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/pokemon/<%= pokemon.ename %>"><%= pokemon.ename %></a>
                </h5>
                <p class="card-text">
                    <%= pokemon.cname %>
                </p>
                <p class="card-text">
                    <%= pokemon.id %>
                </p>
                <% for( let pokemonType of pokemon.type ) { %>
                    <p class="card-text btn">
                        <a href="/pokemon/type/<%= pokemonType.ename %>">
                            <%= pokemonType.ename %>
                        </a>
                    </p>
                    <% } %>
            </div>
        </div>
        <% } %>

</div>

<script src="/js/details.js"></script>